.header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;

    img {
        width: 80px;
        height: 80px;
        margin: 10px;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
            list-style-type: none;

            :hover {
                color: whitesmoke;
            }
        }

        a {
            color: wheat;
            text-decoration: none;
            padding: 10px;
        }
    }
}
