.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: wheat;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
