.mainbox {
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
}

.header {
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg {
    text-align: center;
    font-size: 1.6rem;
}

.link {
    text-decoration: none;
    color: white;

    &:hover {
        text-decoration: underline;
    }
}
